[submodule "revdep/ctsem"]
	path = revdep/ctsem
	url = git@github.com:cdriveraus/ctsem.git
[submodule "revdep/metasem"]
	path = revdep/metasem
	url = git@github.com:mikewlcheung/metasem.git
[submodule "revdep/umx"]
	path = revdep/umx
	url = git@github.com:tbates/umx.git
[submodule "revdep/lvnet"]
	path = revdep/lvnet
	url = git@github.com:cran/lvnet.git
[submodule "revdep/semtree"]
	path = revdep/semtree
	url = git@github.com:cran/semtree.git
