.Rhistory
*.old
/build
/config.log
/config.status
/autom4te.cache
/src/Makevars
/src/omxSymbolTable.*
/man/genericFitDependencies.Rd
/man/imxAddDependency.Rd
/man/MxAlgebraFunction.Rd
/man/omxCheckCloseEnough.Rd
