# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

#Added by RMK:
util/rox text eol=lf
inst/tools/findBuildNum.sh text eol=lf
DESCRIPTION.in text eol=lf
util/prep text eol=lf
*.dll binary
*.a binary
*.so binary
*.o binary